.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f2f2f2;
  color: #3366BB;
}
.topnav a.active {
  background-color: #f2f2f2;
  color: #3366BB;
}
body {
    font-family: Lato, Times, Palatino;
}
.topnav-right {
  float: right;
}
.content {
  background-color: #ffffe6;
  width: 800px;
  border: 2px solid #000000;
  padding: 20px;
  margin: auto;
}
.collapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff2f2;
}
table {
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
body{background-color: #e6ffe6};
